name: Build Jekyll Site

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2' # Adjust to match your local version or GitHub Pages supported version
          bundler-cache: true

      - name: Build with Jekyll
        run: bundle exec jekyll build
